{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="msg">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="/clientes/save" method="post">
        <div>
            <label for="nome_cliente">Cliente: </label>
            <input type="text" name="nome_cliente" id="nome_cliente">
        </div>
        <div>
            <label for="telefone">Telefone: </label>
            <input type="text" name="telefone" id="telefone">
        </div>
        <button type="submit" id="salvar">Salvar</button>
    </form>
{% endblock %}